<br/>
<br/>
<div class= "col-xs-6">
<table class="table table-striped">
  <thead>
    <tr class="bg-warning">
      <th>Rank</th>
      <th>Team Name</th>
    </tr>
  </thead>
   <% total_val = {} %>
    <% Team.all.each do |team| %>
       <% a = TeamDetail.where(team_id: team.id) %>
       <% win_count = a.pluck(:win).inject(0){|sum,x| sum + x }.to_f %>
       <% winning_percentage = (win_count/a.count)*100 %>
      <% total_val["#{team.name}"]  = winning_percentage %>
    <% end %>
    <% all_datas = total_val.sort_by {|k,v| v}.reverse %>
  <tbody>
    <% all_datas.each_with_index do |data,index| %>
    <tr> 
     <td><%= index+1 %></td>        
     <td><%= data[0] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

